@import "typo.css";
@import "navigate.css";
@import "typo.css";

.avata{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px auto auto 150px;
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd"
    "na"
    "sd"
    "main"
    "ft";
  }
  header{
      /* row start/column start/ row end/ column end */
      grid-area:hd;
      font-size: 40px;
      background-color: darksalmon;
      place-items: center;
      
    }
  .navigate{
      grid-area: na;
      margin-bottom: 10px;
    }
  footer{
        grid-area: ft;  
        place-items: center;
        grid-area: ft;
        display: flex;
        flex-direction: row;
        height: 10px;
        color: #222;
        margin-top: 20px;
    }
    .sidebar{
        grid-area: sd;
        display: flex;
        flex-direction: row;
        place-items: top;
        justify-items: center;
    }
    .content{
      grid-area: main;
      margin-left: 15px;
      margin-top: 30px;
      font-size: 17px;
    }
    .photoBox{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    ul
    {
      display:flex;  
      list-style:none;
      justify-content: center;
    }
  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container{
        display:grid;
        grid-template-columns: 300px auto auto;
        grid-template-rows: auto 20px auto 150px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd na na na na na na na"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        /* border: 2px solid red; */
    }
    /* header {
        font-size: 40px;
      } */
    .sidebar{
      margin-top: 15px;
    }
    ul
    {
      display:flex;  
      list-style:none;
      justify-content: left;
    }
    
    .photoBox{
        width: 100%;
        height: auto;
        display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .avata{
      width: auto;
      height: auto;
      margin-top: 0;
      background-size: cover;
      background-position: center;
    }
    
  }

  @media (max-width:400px) {
    .container{
      display:grid;
      grid-template-columns: 300px;
      grid-template-rows: auto 50px auto auto auto;
      /* Initially each element has its own row for small screens */
      grid-template-areas: 
      "hd"
    "na"
    "sd"
    "main"
    "ft";
    }
    .avata{
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
    header{
      font-size: 15px;
    }
    /* p{
      padding-right: 20px;
    } */

  li{
    display:list-item;
    padding-right: 10px;
    }
  }